p { /*Defining position inside the <p>, estyle and 			properties */
    font-family: "Courier New", 'Courier New', Courier, 					monospace;
     letter-spacing: 10px;
    text-transform: uppercase;
     text-align: center; /* choosing where the <p> ll be o							n the page */

     /* Bordas e Cores */
     border: 5px solid rgb(116, 1, 155);
     background-color:	rgb(153, 233, 153); /* Color of 			the limited area inside the boarder */

    color: rgba(200, 0, 150, 1);/*color on the writing*/
     box-shadow: 2px 2px 30px rgb(130,0, 249, 1); /* 			shadow on the boarder that i can move or get it 			bigger */
    border-radius:30px; 
     padding: 5px 30px; /* thickness of padding area */
     display:flexbox; /* this shows how we want the whole 						element to be */
     cursor:pointer; /* this show the pointer format when 						passing on the element */
    /* Highlight the first paragraph */
    font-weight:bolder; 
     color: #f50ae5; /* Pink */
    /* Definindo a largura do paragrafo e posicionamento 		na tela */
     max-width: 600px; /* Ajust maximum width */
     margin: 0 auto; /* Center it */ };