<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desenvolvimento Extra 1.2</title>
    <link rel="stylesheet" type="text/css" href="static/desenvolvimento1-2">
</head>
<body>
    <header>
        <h1>desenvolvimento1-2</h1>
        <h3> Copie o array apresentado embaixo no seu editor de código, e imprima no terminal: a quantidade de elementos que ele possui,<br>
             o dado salvo no índice 2, o dado salvo no índice 9, e dado salvo no índice 14.<br>

            lista_musicos = [ 'Djavan', 'Roberto Carlos', 'Elis Regina', 'Tom Jobim', 'Milton Nascimento', 'Chico Buarque', 'Nara Leão', 'Pitty', 'Simonal', 'Moacir Santos', 'Caetano Veloso', 'Elza Soares', 'Paulinho da Viola', 'Yamandú Costa', 'Gal Costa'] 
            
             <br>
        </h3>
    </header>
</body>
</html>
